.App {
  text-align: center;
}

.App-main {
  background-color: #6abbe0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

